.button {
      display: inline-block;
      padding: 10px 20px;
      width: 100%;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      text-align: center;
      font-size: 1rem;
      transition: box-shadow 0.3s ease;
}

.button:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.confirmacao-button {
      background-color: var(--primary-button);
      color: var(--text-white);
}

.common-button {
      background-color: var(--secondary-button);
      color: var(--text-white);
}

.action-button {
      background-color: var(--action-button);
      color: var(--text-black);
}

.light-button {
      background-color: var(--alternative-primary-button);
      color: var(--text-white);
}

.cancelar-button {
      background-color: var(--alternative-secondary-button);
      color: var(--text-white);
}

.light-button a {
      font-size: 0.9rem;
      color: var(--text-white);
}

.inline-button {
      padding: 3%;
      width: 100%;
      border: none;
      border-radius: 5%;
      cursor: pointer;
      transition: transform box-shadow 0.3s ease;
}

.inline-button:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transform: translateY(-3px);
}

.logout-button {
      display: inline-block;
      width: 100%;
      height: auto;
      padding: 5%;
      border: none;
      border-radius: 5%;
      background-color: var(--alternative-primary-button);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.3 ease;
}

.logout-button:hover {
      transform: translateY(-3px);
}

.logout-button a {
      color: var(--text-white);
}
