.button {
      display: inline-block;
      padding: 10px 20px;
      width: 100%;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      text-align: center;
      font-size: 1rem;
      transition: box-shadow 0.3s ease;
}

.confirmacao-button {
      background-color: var(--primary-button);
      color: var(--text-white);
}

.common-button {
      background-color: var(--secondary-button);
      color: var(--text-white);
}

.logout-button {
      display: inline-block;
      width: 100%;
      height: auto;
      padding: 5%;
      border: none;
      border-radius: 5%;
      background-color: var(--alternative-primary-button);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.3 ease;
}

.logout-button:hover {
      transform: translateY(-3px);
}

.logout-button a {
      color: var(--text-white);
}

.button:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}