#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffb3; 
    z-index: 11;
    display: none;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid var(--form-border-focus); /* Light grey */
    border-top: 4px solid var(--form-border); /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.comp-toggle-switch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 1.5rem;
  }
  
.comp-toggle-switch-checkbox {
    display: none;
}
  
.comp-toggle-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .2s;
    border-radius: 34px;
}
  
.comp-toggle-switch-checkbox:checked + .comp-toggle-switch-slider {
    background-color: var(--slider-on);
}
  
.comp-toggle-switch-slider:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 26px;
    height: 26px;
    background-color: var(--slider-bullet);
    border: 1px solid var(--slider-border);
    border-radius: 50%;
    transition: .2s; 
}
  
.comp-toggle-switch-checkbox:checked + .comp-toggle-switch-slider:after {
    left: calc(100% - 5px);
}

.chip-group {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.chip-group label {
    display: flex;
    align-items: center;
    padding: 15px 20px; 
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: var(--chip-bg);
}

.chip-group label:hover {
    background-color: var(--chip-highlight);
}

.chip-group input[type="checkbox"] {
    display: none;
}

.chip-group label span {
    margin-left: 5px;
}


#sugestoes {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    width: 100%;
}

#sugestoes li {
    font-size: 0.9rem;
    padding: 1.5%;
    cursor: pointer;
    width: 100%;
}

#sugestoes li:hover {
    background-color: var(--dropdown-highlight-1);
}

ul#sugestoes li.cadastrar {
    border: 1px solid #ddd;
}

ul#sugestoes li.cadastrar:hover {
    background-color: var(--dropdown-highlight-2);
}


@media only screen and (max-width: 768px){

    .comp-toggle-switch {
        width: 25%;
        left: 33.3%;
    }
    
}
  
