tr {
      border-bottom: 1px solid #222222;
}

.table-row:hover {
      background-color: #D6EEEE;
      cursor: pointer;
}

.table-row .table-link {
      color: inherit;
      text-decoration: none;
}

#lista-comprovantes {
      visibility:  hidden;
}

#situacao-financeira-wrapper {
      visibility: hidden;
}