:root {
      --text-white: #f4f4f4;
      --text-black: #333;
      --text-placeholder: #95a5a6;

      --basic-card: #fff;
      --basic-card-highlight: #f4f1de;

      
      --topo-table-bg: #fff;

      --primary-dashboard-header: #DAFF7D;
      --secondary-dashboard-header: #003652;
      --alert-dashboard-header: #AE2709;
      --positive-dashboard-header: #0C72C0;

      --table-head: #003652;
      --table-highlight: #EDFDC4;


      --primary-button: #341671;
      --secondary-button: #AE2D68;
      --action-button: #F3EEFC;
      --alternative-primary-button: #90BE6D;
      --alternative-secondary-button: #F54952;

      --form-border: #660f56;
      --form-border-focus: #F5C63C;

      --primary-card-border: #355070;

      --erro-color: #FF5722;
      --erro-color-highlight: #fb7a53;

      --info-color: #0C72C0;

      --highlight: #660f56;
      
}

* {
      box-sizing: border-box;
}

[class*="col-"] {
      float: left;
      padding: 12px;
      width: 100%;
}

.row::after {
      content: "";
      clear: both;
      display: table;
}

body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
}

.center-itens {
      display: flex;
      justify-content: center;
}

input {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      border: 2px solid var(--form-border);
      border-radius: 5px;
      font-size: 16px;
      outline: none;
      transition: border-color 0.3s ease-in-out;
}

a {
      color: var(--text-black);
      text-decoration: none;
      transition: color 0.3s ease;
}

a:hover {
      color: var(--highlight);
}

a:visited {
      color: var(--text-black);
}


input::placeholder {
      color: var(--text-placeholder);
}

input:focus {
      border-color: var(--form-border-focus);
}

.fixed-topo-nav {
      background-color: #fff;
      padding: 1.5%;
      color: white;
      text-align: right;
      position: fixed;
      width: 100vw;
      top: 0;
      transition: top 0.3s;
}

.nav-wrapper {
      margin-right: 3vw;
}

.nav-wrapper a {
      padding: 1.5%;
}

.nav-wrapper a:hover {
      border-bottom: 2px solid #264653;
}

.conteudo-wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 12vh;
      max-height: 70vh;
      width: 75%;
      margin-left: 12.5%;
}


.footer-wrapper {
      display: flex;
      justify-content: center;
      background-color: #333;
      color: #fff;
      padding: 0 0;
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;
}

.input-container {
      width: 300px;
      margin: 50px auto;
}

#lista-comprovantes {
      display: none;
}

#situacao-financeira-wrapper {
      display: none;
}

#mensagem-container {
      display: none;
      z-index: 3;
      position: absolute;
      width: 33vw;
      left: 33vw;
      text-align: center;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0 , 0, 0.1);
      animation: popOut 0.75s ease-in-out forwards;
}

@keyframes popOut {
      from { 
            transform: scale(0.8); 
      } 
      to { 
            transform: scale(1);
      }  
}

#neutra-mensagem{
      color: #222222;
}

#sucesso-mensagem {
      color: #4CAF50;
}

#falha-mensagem {
      color: #FF5722;
}

textarea {
      width: 100%;
      height: auto;
      padding: 10px;
      border: 2px solid var(--form-border);
      border-radius: 5px;
      resize: none;
}

select {
      width: 100%;
      height: auto;
      padding: 10px;
      font-size: 1rem;
      border: 2px solid var(--form-border);
      border-radius: 5px;
}

select:focus {
      border-color: var(--form-border-focus);
}

.login-container {
      max-width: 720px;
      align-self: center;
      height: auto;
      margin-top: calc((100vh - 20vh) / 15);
      padding: 2%;
      background-color: var(--basic-card);
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0 , 0, 0.1);
}

.underline-highlighter {
      border-bottom: 2px solid transparent;
      transition: border-color 0.3s ease;
}

.underline-highlighter:hover {
      border-color: var(--basic-card-highlight);
}

.end-page-margin {
      margin-bottom: 8rem;
}

.overlay {
      z-index: 4;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      background-color: #333;
      opacity: 0.7;
}

.whitespace-end-page {
      margin-bottom: 5em;
}

@media only screen and (min-width: 768px){
      .col-1 { width: 8.33%;}
      .col-2 { width: 16.66%;}
      .col-3 { width: 25%;}
      .col-4 { width: 33.33%;}
      .col-5 { width: 41.66%;}
      .col-6 { width: 50%;}
      .col-7 { width: 58.33%;}
      .col-8 { width: 66.66%;}
      .col-9 { width: 75%;}
      .col-10 { width: 83.33%;}
      .col-11 { width: 91.66%;}
      .col-12 { width: 100%;}
}